/* red = rgb(176, 26, 31) */

/* General Styles */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
 
ul {
  list-style: none;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 50px;
  min-height: 100vh;
}

section h4 {
  color: rgb(176, 26, 31);
}

section p {
  line-height: 2;
  padding: 0 20px;
  margin: 0 auto 30px;
  text-align: center;
}

section:not(.home):nth-child(odd) {
  background-color: #f5f5f5;
}

h3.title {
  text-transform: uppercase;
  font: bold 4.8vh 'Open Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

hr {
  width: 42vw;
  height: 3px;
  margin: 0 auto;
  background-color: rgb(176, 26, 31);
  border: 0;
  margin-bottom: 40px;
}

.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list {
  width: 100%;
  margin-top: 25px;
}

@media (max-width: 960px) {
  section {
    padding: 30px 20px;
  }
}


/* Header Styles */

header {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  color: #fff;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  margin: 0 25px;
}

header ul li a {
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(176, 26, 31);
  border-bottom: 2px solid rgba(176, 26, 31, 0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0.8;
}

header ul li a:hover {
  border-bottom: 2px solid rgba(176, 26, 31, 1);
  opacity: 1;
}

header .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .caption i.fa-code {
  margin-right: 12px;
  font-size: 10vh;
}

header .caption h2 {
  font-size: 5vh;
}

header .caption h4 {
  font-family: 'Share Tech Mono', 'Lucida Console', monaco, monospace;
  font-size: 3vh;
  color: rgb(176, 26, 31);
}

@media (max-width: 620px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px;
  }

  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header ul li {
    margin: 10px 0;
  }
}

@media (max-width: 330px) {
  header ul li {
    margin: 5px 0;
    font-size: 3.4vh;
  }
}


/* Home Styles */

#home {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.home-content {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(35vh);
      -ms-transform: translateY(35vh);
          transform: translateY(35vh);
  left: 0;
  opacity: 0;
  -webkit-animation: 1s slidein ease forwards;
          animation: 1s slidein ease forwards;
}

@-webkit-keyframes slidein {
  100% {
    -webkit-transform: translateY(16vh);
            transform: translateY(16vh);
    opacity: 1;
  }
}

@keyframes slidein {
  100% {
    -webkit-transform: translateY(16vh);
            transform: translateY(16vh);
    opacity: 1;
  }
}

#home .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

#home h1 {
  font-size: 9vh;
  font-weight: 700;
  margin: 0 70px 50px;
}

#home p {
  margin: 0 200px;
  padding: 16px;
  color: #eee;
  font-size: 4.6vh;
  line-height: 7vh;
  background: grey;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
}

@media (max-width: 1170px) {
  .home-content {
    -webkit-animation: none;
            animation: none;
      -webkit-transform: translateY(16vh);
      -ms-transform: translateY(16vh);
          transform: translateY(16vh);
    opacity: 1;
  }

  #home h1 {
    font-size: 8vh;
  }

  #home p {
    font-size: 4.2vh;
  }
}

@media (max-width: 910px) {
  #home h1 {
    font-size: 7.2vh;
  }

  #home p {
    font-size: 3.8vh;
    margin: 0 100px;
  }
}

@media (max-width: 720px) {
  #home h1 {
    font-size: 6.6vh;
    margin: 0 40px 30px;
  }

  #home p {
    font-size: 3.2vh;
  }
}

@media (max-width: 620px) {
  .home-content {
    -webkit-transform: translateY(34vh);
    -ms-transform: translateY(34vh);
        transform: translateY(34vh);
  }

  #home h1 {
    font-size: 6.3vh;
    margin: 0 20px 16px;
  }

  #home p {
    font-size: 3vh;
    line-height: 5vh;
    margin: 0 20px;
    padding: 8px;
  }
}

@media (max-width: 400px) {
  #home h1 {
    font-size: 5.5vh;
    margin: 0 10px 8px;
  }

  #home p {
    font-size: 2.7vh;
    line-height: 3.8vh;
  }
}


/* About Styles */

#about .grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  text-align: center;
  padding: 0 10px;
}

#about .grid h4 {
  margin: 15px 0;
  color: rgb(176, 26, 31);
  font-weight: 800;
  font-size: 4.4vh;
}

#about .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#about .about-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

#about .portrait {
  position: relative;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  max-height: 220px;
  margin: 0 42px;
  border-radius: 1%;
}

#about .about-header p {
  font-size: 3.3vh;
  text-align: left;
}

#about p {
  font-size: 2.8vh;
  width: 100%;
}

#about .hr-left {
  margin-left: 20px;
}

@media (max-width: 1050px) {
  #about .grid li {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    padding: 0;
  }
}

@media (max-width: 900px) {
  #about .portrait {
    height: 157px;
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
  }

  #about .about-header p {
    font-size: 2.5vh;
  }

  #about .about-header h3.title {
    font-size: 3.6vh;
  }
}

@media (max-width: 645px) {
  #about .grid h4 {
    margin: 5px 0;
    font-size: 3.4vh;
  }

  #about .grid p {
    font-size: 2vh;
    margin-bottom: 12px;
  }

  #about .grid i.fa {
    font-size: 5vh;
  }
}

@media (max-width: 480px) {
  #about .about-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #about .about-caption {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #about .about-header p {
    text-align: center;
  }

  #about .portrait {
    height: 105px;
    -ms-flex-preferred-size: 6%;
        flex-basis: 6%;
  }

  #about .hr-left {
    margin: 0 auto 5px;
  }

  #about .about-header h3.title {
    padding: 8px;
    font-size: 3.2vh;
  }

  #about .grid p {
    font-size: 1.8vh;
    margin-bottom: 10px;
  }
}

@media (max-width: 385px) {
  #about .about-header p {
    font-size: 2.5vh;
    margin-bottom: 0;
  }

  #about .portrait {
    height: 79px;
    -ms-flex-preferred-size: 4.5%;
        flex-basis: 4.5%;
  }

  #about .grid h4 {
    font-size: 2.8vh;
    margin: 0;
  }
} 


/* Projects Styles */

#projects .grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

#projects .thumbnail-img {
  max-width: 100%;
  max-height: 100%;
  height: 235px;
  padding: 5px 20px 15px;
}

@media (max-width: 900px) {
  #projects .grid li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  #projects .thumbnail-img {
    height: 150px;
    border: 1px solid rgba(176, 26, 31, .4);
  }
}

@media (max-width: 400px) {
  #projects .grid li {
    font-size: 2.8vh;
  }
}


/* Contact Styles */

#contact {
  position: relative;
  overflow: hidden;
  padding: 20px 0 30px;
  color: white;
}

#contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact i.fa {
  margin: 0 30px;
  opacity: 0.6;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

#contact i.fa:hover {
  opacity: 1;
}

#contact .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 500px) {
  #contact {
    padding: 10px 0 15px;
  }

  #contact i.fa {
    margin: 0 15px;
  }
}

@media (max-width: 400px) {
  #contact i.fa {
    font-size: 13vw;
  }
}