/* red = rgb(176, 26, 31) */

/* General Styles */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

nav, 
ul {
  list-style: none;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 50px;
  min-height: 100vh;
}

section h3.title {
  text-transform: uppercase;
  font: bold 32px 'Open Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

section h4 {
  color: rgb(176, 26, 31);
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

section:not(.home):nth-child(odd) {
  background-color: #f5f5f5;
}

hr {
  width: 450px;
  height: 3px;
  background-color: rgb(176, 26, 31);
  border: 0;
  margin-bottom: 40px;
}

.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


/* Header Styles */

header {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  color: #fff;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  margin: 0 25px;
}

header nav li a {
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(176, 26, 31);
  border-bottom: 2px solid rgba(176, 26, 31, 0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0.8;
}

header nav li a:hover {
  border-bottom: 2px solid rgba(176, 26, 31, 1);
  opacity: 1;
}

header div.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.caption i.fa-code {
  margin-right: 12px;
  font-size: 3.4em;
}

header div.caption h4 {
  font-family: 'Share Tech Mono';
  color: rgb(176, 26, 31);
}


/* Home Styles */

.home {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.home-content {
  position: absolute;
  width: 100%;
  margin-top: 150px;
  opacity: 0;
  -webkit-animation: 1s slidein forwards;
          animation: 1s slidein forwards;
}

@-webkit-keyframes slidein {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slidein {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.home .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.home h1 {
  font-size: 54px;
  font-weight: 700;
  margin: 0 80px 50px;
}

.home p {
  margin: 0 200px;
  padding: 16px;
  color: #eee;
  font-size: 32px;
  line-height: 50px;
  background: grey;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
}


/* About Styles */

#about .grid li {
  padding: 40px 20px 20px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

#about .grid h4 {
  margin: 15px 0;
  color: rgb(176, 26, 31);
  font-weight: 800;
  font-size: 1.8em;
}

#about .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

#about .about-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

#about .portrait {
  position: relative;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  height: 220px;
  margin: 0 42px;
  border-radius: 1%;
}

#about .about-header p {
  font-size: 20px;
  text-align: left;
}

#about p {
  font-size: 1.1em;
}


/* Projects Styles */

#projects .grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

#projects .thumbnail-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 235px;
  padding-bottom: 15px;
}